<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">

                <div ng-repeat="item in validation.objects" class="panel panel-default panel-border">
                    <div class="panel-heading">
                        {{item.agencia.denominacion}}
                    </div>
                    <div class="panel-body">

                        <div ng-repeat="subItem in item.bovedas.abierto" class="panel panel-default panel-border">
                            <div class="panel-heading">
                                {{subItem.denominacion}}
                            </div>
                            <div class="panel-body">
                                boveda abierta
                            </div>
                        </div>

                        <div ng-repeat="subItem in item.bovedas.saldo" class="panel panel-default panel-border">
                            <div class="panel-heading">
                                {{subItem.denominacion}}
                            </div>
                            <div class="panel-body">
                                boveda con saldo diferente de 0.00
                            </div>
                        </div>

                    </div>
                </div>

                {{validation}}
                <p>
                    <button type="button" class="btn btn-primary" ng-click="verificar()" ladda="control.block" data-style="expand-right">Verificar</button>
                    <button type="button" class="btn btn-white" ui-sref="^.^.buscarSucursal">Cancelar</button>
                </p>



            </div>
        </div>
    </div>
</div>



