<div>
    <h4><strong>Datos principales</strong></h4>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'validate-has-error' : form.abreviatura.$invalid && (form.abreviatura.$touched || form.$submitted)}">
                <label>Abreviatura</label>
                <input type="text" name="abreviatura" ng-model="view.sucursal.abreviatura" ng-maxlength="30" class="form-control" autofocus required/>
                <div ng-messages="form.abreviatura.$error" ng-if="form.abreviatura.$touched || form.$submitted">
                    <div class="validate-has-error" ng-message="required">Ingrese abreviatura.</div>
                    <div class="validate-has-error" ng-message="maxlength">Maximo 30 caracteres.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'validate-has-error' : form.denominacion.$invalid && (form.denominacion.$touched || form.$submitted)}">
                <label>Denominacion</label>
                <input type="text" name="denominacion" ng-model="view.sucursal.denominacion" sg-denominacion-sucursal-validate sg-exclude="view.sucursal" ng-maxlength="60" class="form-control" required/>
                <div ng-messages="form.denominacion.$error" ng-if="form.denominacion.$touched || form.$submitted">
                    <div class="validate-has-error" ng-message="required">Ingrese denominacion.</div>
                    <div class="validate-has-error" ng-message="maxlength">Maximo 60 caracteres.</div>
                    <div class="validate-has-error" ng-message="disponible">Denominacion no disponible.</div>
                </div>
                <span ng-show="form.denominacion.$pending" us-spinner="spinnerConfig"></span>
            </div>
        </div>
    </div>
    <p>
        <button type="submit" class="btn btn-primary" ladda="control.block" data-style="expand-right">Guardar</button>
        <button type="button" class="btn btn-white" ui-sref="^.resumen">Cancelar</button>
    </p>
</div>