<div class="row">
    <div class="col-sm-6">

        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Datos principales</h3>
            </div>

            <div class="panel-body">
                <div style="border-bottom: 1px solid #e5e5e5;margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Codigo:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong ng-bind="view.agencia.codigo"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Denominacion:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong ng-bind="view.agencia.denominacion"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Abreviatura:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong ng-bind="view.agencia.abreviatura"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Estado:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong ng-bind="view.agencia.estado | si_no:'activo' | uppercase"></strong></p>
                        </div>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #e5e5e5;margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Sucursal:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong ng-bind="view.agencia.sucursal.denominacion"></strong></p>
                        </div>
                    </div>
                </div>

                <button type="button" ui-sref="^.datosPrincipales" class="btn btn-default">Editar</button>
            </div>
        </div>

    </div>
</div>